body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

img {
    max-width: 300px;
    height: auto;
    display: inline-flex;
    
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: black;
}

/* ----- Tables ----- */
#main-menu {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#main-menu th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#main-menu td {
  padding: 18px;
  background-color: #04AA6D;
  text-align: center;
}

#main-menu td:hover {
    border: 0px solid white;
    
}

#roast-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
}

#roast-table td {
  border: 0px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

#roast-table tr:nth-child(even){background-color: #f2f2f2;}

#roast-table tr:hover {background-color: #ddd;}

#roast-table th {
  padding-top: 12px;
  padding-left: 8px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3399ff;
  color: white;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
}
