<!DOCTYPE html>
<html>
    
<head>
    <title>Lucky Penny Roast Lab</title>
    <link rel="icon" type="image/x-icon" href="/static/US_One_Cent_Obv.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
</head>

<body>
    <h1 class="rock-salt-regular">Lucky Penny Roast Lab</h1>
    <div align="center">
        <table style="width: 80%;" cellpadding="0" align="center">
                <tr align="center">
                    <a href="/" style="color: white;"><img src="static/lprl-banner-1.png"></a></td>
                    <a href="/recordRoast" style="color: white;"><img src="static/lprl-banner-2.png"></a>
                    <a href="/drinkLibrary" style="color: white;"><img src="static/lprl-banner-3.png"></a>
                    <a href="/recordDrink" style="color: white;"><img src="static/lprl-banner-4.png"></a>
                </tr>
        </table>
    </div>
    
    <div align="center">
        <h2 align="center">Drink Library</h2>
        
        <span>
        <p>Drink: <select id="drinkFilter" onchange="applyFilters()" style="width: 125px">
            <option value="all">All</option>
            <option value="Americano" {% if drink_filter == "Americano" %}selected{% endif %}>Americano</option>
            <option value="Espresso" {% if drink_filter == "Espresso" %}selected{% endif %}>Espresso</option>
            <option value="Latte" {% if drink_filter == "Latte" %}selected{% endif %}>Latte</option>
            <option value="Cappuccino" {% if drink_filter == "Cappuccino" %}selected{% endif %}>Cappuccino</option>
            <option value="Cortado" {% if drink_filter == "Cortado" %}selected{% endif %}>Cortado</option>
            <option value="Drip" {% if drink_filter == "Drip" %}selected{% endif %}>Drip</option>
            <option value="Pour Over" {% if drink_filter == "Pour Over" %}selected{% endif %}>Pour Over</option>
            <option value="Cold Brew" {% if drink_filter == "Cold Brew" %}selected{% endif %}>Cold Brew</option>
        </select>
        
        Roast: <select id="roastFilter" onchange="applyFilters()" style="width: 125px">
            <option value="all">All</option>
            <option value="Full City" {% if roast_filter == "Full City" %}selected{% endif %}>Full City</option>
            <option value="Full City+" {% if roast_filter == "Full City+" %}selected{% endif %}>Full City+</option>
        </select>

        Sort By: <select id="sortOrder" onchange="applyFilters()" style="width: 200px">
            <option value="date_desc">Date (Newest)</option>
            <option value="coffee_water_asc" {% if sort_by == "coffee_water_asc" %}selected{% endif %}>Coffee:Water (Low to High)</option>
            <option value="coffee_water_desc" {% if sort_by == "coffee_water_desc" %}selected{% endif %}>Coffee:Water (High to Low)</option>
            <option value="rating_asc" {% if sort_by == "rating_asc" %}selected{% endif %}>Rating (Low to High)</option>
            <option value="rating_desc" {% if sort_by == "rating_desc" %}selected{% endif %}>Rating (High to Low)</option>
        </select>
        
        </p>
        </span>
    </div>
        
    <div style="overflow-x: auto">
        {% if data %}
        <table id="roast-table"  style="width: 75%; overflow-x: auto;" align="center">
            <thead>
                <tr>
                    {% for column in data[0].keys() %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for column, value in row.items() %}
                    {% if column == 'roast' %}
                        <td><a href="/static/roastplots/{{ value }}" target="_blank">{{ value }}</a></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No data found.</p>
        {% endif %}
    </div>
        
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('drinkLibrary', page=page-1, drink=drink_filter, roast=roast_filter, sort_by=sort_by) }}">Previous</a>
        {% endif %}

        <span>Page {{ page }} of {{ total_pages }}</span>

        {% if page < total_pages %}
        <a href="{{ url_for('drinkLibrary', page=page+1, drink=drink_filter, roast=roast_filter, sort_by=sort_by) }}">Next</a>
        {% endif %}
    </div>
    
    <script>
        function applyFilters() {
            const drinkValue = document.getElementById('drinkFilter').value;
            const roastValue = document.getElementById('roastFilter').value;
            const sortValue = document.getElementById('sortOrder').value;

            let url = 'drinkLibrary';
            let params = [];
            if (drinkValue && drinkValue !== "all") {
                params.push(`drink=${encodeURIComponent(drinkValue)}`);
            }
            if (roastValue && roastValue !== "all") {
                params.push(`roast=${encodeURIComponent(roastValue)}`);
            }
            if (sortValue && sortValue !== "date_desc") { // Only add sort param if not default
                params.push(`sort_by=${encodeURIComponent(sortValue)}`);
            }

            if (params.length > 0) {
                url += `?${params.join('&')}`;
            }
            window.location.href = url;
        }
    </script>

</body>
</html>
