<!DOCTYPE html>
<html>
    
<head>
    <title>Lucky Penny Roast Lab</title>
    <link rel="icon" type="image/x-icon" href="/static/US_One_Cent_Obv.png">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Rock+Salt&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page-wrapper" align="center">
    <h1 class="rock-salt-regular">Lucky Penny Roast Lab</h1>
    <div align="center">
        <table style="width: 80%;" cellpadding="0" align="center">
                <tr align="center">
                    <a href="/" style="color: white;"><img src="static/lprl-banner-1.png"></a></td>
                    <a href="/recordRoast" style="color: white;"><img src="static/lprl-banner-2.png"></a>
                    <a href="/drinkLibrary" style="color: white;"><img src="static/lprl-banner-3.png"></a>
                    <a href="/recordDrink" style="color: white;"><img src="static/lprl-banner-4.png"></a>
                </tr>
        </table>
    </div>
    
    <div class="inner-content" align="center">
        <h2 class="cutive-mono-regular" style="font-size:32px" align="center">Roast Library</h2>
        
        <div style="display: flex; flex-direction: row; overflow-x: auto; align-items: center; justify-content: center; gap: 40px; margin-top: 20px; margin-bottom: 20px">
            <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px">
                <label for="countryFilter">Country</label>
                <select id="countryFilter" onchange="applyFilters()" class="user-box-dropdown">
                    <option value="all">All</option>
                    <option value="Brazil" {% if country_filter == "Brazil" %}selected{% endif %}>Brazil</option>
                    <option value="Burundi" {% if country_filter == "Burundi" %}selected{% endif %}>Burundi</option>
                    <option value="Columbia" {% if country_filter == "Columbia" %}selected{% endif %}>Columbia</option>
                    <option value="Costa Rica" {% if country_filter == "Costa Rica" %}selected{% endif %}>Costa Rica</option>
                    <option value="Ethiopia" {% if country_filter == "Ethiopia" %}selected{% endif %}>Ethiopia</option>
                    <option value="Guatemala" {% if country_filter == "Guatemala" %}selected{% endif %}>Guatemala</option>
                    <option value="Hawaii" {% if country_filter == "Hawaii" %}selected{% endif %}>Hawaii</option>
                    <option value="Honduras" {% if country_filter == "Honduras" %}selected{% endif %}>Honduras</option>
                    <option value="Java" {% if country_filter == "Java" %}selected{% endif %}>Java</option>
                    <option value="Kenya" {% if country_filter == "Kenya" %}selected{% endif %}>Kenya</option>
                    <option value="Mexico" {% if country_filter == "Mexico" %}selected{% endif %}>Mexico</option>
                    <option value="Peru" {% if country_filter == "Peru" %}selected{% endif %}>Peru</option>
                    <option value="Rwanda" {% if country_filter == "Rwanda" %}selected{% endif %}>Rwanda</option>
                    <option value="Sumatra" {% if country_filter == "Sumatra" %}selected{% endif %}>Sumatra/option>
                    <option value="Tanzania" {% if country_filter == "Tanzania" %}selected{% endif %}>Tanzania</option>
                    <option value="Yemen" {% if country_filter == "Yemen" %}selected{% endif %}>Yemen</option>
                    <option value="Zambia" {% if country_filter == "Zambia" %}selected{% endif %}>Zambia</option>
                </select>
            </div>
        
            <div style="display: flex; flex-direction: column; align-items: flex-start; gap: 10px">
                <label for="roastFilter">Roast:</label>
                <select id="roastFilter" onchange="applyFilters()" class="user-box-dropdown">
                    <option value="all">All</option>
                    <option value="Full City" {% if roast_filter == "Full City" %}selected{% endif %}>Full City</option>
                    <option value="Full City+" {% if roast_filter == "Full City+" %}selected{% endif %}>Full City+</option>
                </select>
            </div>
        </div>
        
        <div style="overflow-x: auto">
            {% if data %}
            <table id="roast-table"  style="width: 75%; overflow-x: auto;" align="center">
                <thead>
                    <tr style="white-space: nowrap">
                        <th style="border-top-left-radius: 10px">Date</th>
                        <th>Country</th>
                        <th>Farm</th>
                        <th>Roaster</th>
                        <th>Roast</th>
                        <th>Duration</th>
                        <th>Mass In (g)</th>
                        <th>Mass Out (g)</th>
                        <th>Loss</th>
                        <th style="border-top-right-radius: 10px;">Profile</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for value in row.values() %}
                        {% if loop.last %}
                            {% set filename = value %}
                            <td><a href="/static/roastplots/{{ filename }}" target="_blank">{{ filename }}</a></td>
                        {% else %}
                            <td>{{ value }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="pagination">
            {% if page > 1 %}
            <a href="/?page={{ page - 1 }}{% if filter_value %}&filter={{ filter_value }}{% endif %}"><img src="/static/arrow_back.png"></a>
            {% endif %}

            <span class="rock-salt-regular">Page {{ page }} of {{ total_pages }}</span>

            {% if page < total_pages %}
            <a href="/?page={{ page + 1 }}{% if filter_value %}&filter={{ filter_value }}{% endif %}"><img src="/static/arrow_forward.png"></a>
            {% endif %}
            
            {% else %}
            <p>No data found.</p>
            {% endif %}
        </div>
    </div>

    <script>
        function applyFilters() {
            const countryValue = document.getElementById('countryFilter').value;
            const roastValue = document.getElementById('roastFilter').value;
            
            let url = '/';
            let params = [];
            if (countryValue && countryValue !== "all") {
                params.push(`country=${encodeURIComponent(countryValue)}`);
            }
            if (roastValue && roastValue !== "all") {
                params.push(`roast=${encodeURIComponent(roastValue)}`);
            }
            if (params.length > 0) {
                url += `?${params.join('&')}`;
            }
            window.location.href = url;
        }
    </script>

</body>
</html>
